apiVersion: v1
kind: Service
metadata:
  namespace: monitoring
  name: kube-state-metrics
  labels:
    name: kube-state-metrics
spec:
  clusterIP: None
  ports:
    - name: http-metrics
      port: 8080
      targetPort: http-metrics
  selector:
    app.kubernetes.io/name: kube-state-metrics
